langchain-community 
tiktoken 
langchain-openai 
langchainhub 
chromadb 
langchain 
langgraph  
duckduckgo-search
langchain-groq
langchain-huggingface
sentence_transformers
tavily-python
langchain-ollama
ollama
crawl4ai
docling
easyocr
FlagEmbedding
chonkie[semantic]
pinecone
streamlit
markdown2 
xhtml2pdf
PyPDF2